<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>283895874170-csbmurndf4jlcs60g5btsq3o1a4oep0n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.283895874170-csbmurndf4jlcs60g5btsq3o1a4oep0n</string>
	<key>API_KEY</key>
	<string>AIzaSyBog1XqwLU-euvAmPavyTf70NoN9PazhDc</string>
	<key>GCM_SENDER_ID</key>
	<string>283895874170</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.regards</string>
	<key>PROJECT_ID</key>
	<string>regards-971d6</string>
	<key>STORAGE_BUCKET</key>
	<string>regards-971d6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:283895874170:ios:e93e5e7eed82b85030f1c3</string>
</dict>
</plist>